<section ng-controller="NeedsController">
  <div class="page-header">
    <h1>New Need</h1>
  </div>
  <div class="col-md-offset-3 col-md-6 center">
    <form name="needForm" class="form-horizontal" ng-submit="create(needForm.$valid)" novalidate>
<fieldset>

        <div class="form-group">
          <div class="form-group">
            <div class="col-md-6">
              <label for="team">Team</label>
            </div>
            <div class="col-md-6">
              <select name="team" type="text" ng-model="team" id="team" class="form-control" placeholder="Team" required>
                <option>GApps</option>
                <option>Tresury</option>
                <option>CTech</option>
              </select>
              {{team}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label for="geography">Geography</label>
            </div>
            <div class="col-md-6">
              <select name="geography"  ng-model="geography" id="geography" class="form-control" placeholder="Geography" required>
                <option>Gurgaon</option>
                <option>Noida</option>
                <option>Bengaluru</option>
              </select>
              {{geography}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label for="jd">Job Description</label>
            </div>
            <div class="col-md-6">
              <textarea name="jd" type="text" ng-model="jobDescription" id="jd" class="form-control" placeholder="Job Description" required></textarea>
              {{jobDescription}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label for="sd">Start Date</label>
            </div>
            <div class="col-md-6">
              <input name="sd" type="date" ng-model="startDate" id="sd" class="form-control" placeholder="Start Date" required/>
            </div>
            {{startDate}}
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label for="cd">Creation Date</label>
            </div>
            <div class="col-md-6">
              <input name="cd" type="date" ng-model="creationDate" id="cd" class="form-control" placeholder="Creation Date" required>
            {{creationDate}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label for="skill">Skill</label>
            </div>
            <div class="col-md-6">
              <textarea name="skill" type="text" ng-model="skill" id="skill" class="form-control" placeholder="Skill" required></textarea>
            {{skill}}
            </div>
          </div>


          <div class="form-group">
            <div class="col-md-6">
              <label for="experience">Experience</label>
            </div>
            <div class="col-md-6">
              <select name="experience" type="text" ng-model="experience" id="experience" class="form-control" placeholder="Experience" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              {{experience}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label for="criticality">Criticality</label>
            </div>
            <div class="col-md-6">
              <select name="criticality" type="text" ng-model="criticality" id="criticality" class="form-control" placeholder="Criticality" required>
                <option>Minor</option>
                <option>Normal</option>
                <option>Major</option>
              </select>
              {{criticality}}
            </div>
          </div>


          <div class="form-group">
            <div class="col-md-6">
              <label for="opportunistic">Opportunistic</label>
            </div>
            <div class="col-md-6">

              <select name="opportunistic"  ng-model="isOpputunistic" id="opportunistic" class="form-control" placeholder="Opportunistic" required>
                <option>Yes</option>
                <option>No</option>
              </select>
{{isOpputunistic}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label for="backfill">Backfill</label>
            </div>
            <div class="col-md-6">
              <input name="backfill" type="text" ng-model="backfill" id="backfill" class="form-control" placeholder="Backfill" required/>
           {{backfill}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label for="status">Status</label>
            </div>
            <div class="col-md-6">
              <select name="status" type="text" ng-model="status" id="status" class="form-control" placeholder="Status" required>
                <option>Open</option>
                <option>Closed</option>
                <option>InProgress</option>
              </select>
              {{status}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label for="ce">Client Executive</label>
            </div>
            <div class="col-md-6">
              <input name="ce" type="text" ng-model="clientExecutive" id="ce" class="form-control" placeholder="Client Executive" required/>
            {{clientExecutive}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label for="oid">Oracle ID</label>
            </div>
            <div class="col-md-6">
              <input name="oid" type="text" ng-model="oracleId" id="oid" class="form-control" placeholder="Oracle ID" required/>
            {{oracleId}}
            </div>
          </div>


          <div class="form-group">
            <div class="col-md-6">
              <label for="designation">Designation</label>
            </div>
            <div class="col-md-6">
              <input name="designation" type="text" ng-model="designation" id="designation" class="form-control" placeholder="Designation" required/>
            </div>
            {{designation}}
          </div>

          <div class="form-group">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-primary">
            </div>
          </div>
        </div>







        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
</fieldset>

    </form>
  </div>
</section>
